#page-map {
  height: 100vh;
  width: 100vw;

  position: relative;

  display: flex;
}

#page-map aside {
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  padding: 80px;
  width: 440px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map aside footer {
  line-height: 24px;

  display: flex;
  flex-direction: column;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .add-orphanage {
  background: #15c3d6;
  border-radius: 20px;
  height: 64px;
  width: 64px;
  
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

#page-map .add-orphanage:hover {
  background: #17d6eb;
}